@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,600;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;

}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    background: url(re.jpg)no-repeat;
    background-size:cover;
    background-position:center;
}
header{
    position:relative;
    top:0;
    width:100%;
    padding:30px 100px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
header .navigation a{
color:black;

background:none;
text-decoration:none;
font-weight: 900;
letter-spacing: 2px 15px;
padding:2px 15px;
border-radius: 30px;
transition: 0.2s;
transition-property:none;
font:italic;

}
header .navigation a:not(:last-child){
    margin-right:20px;
    

}
header .navigation a:hover{
background:silver;

}
.content {
    max-width:300;
    margin: 40px 50px;

}
.content .info h1{
color:orangered;
font-size:60px;
line-height:60px;
font-weight: 600;
letter-spacing:2px;

}
.content .info p{
    color:black;
    font-weight:900;
    font-size:15px;
    word-spacing:4px;
    margin-bottom: 40px;
margin-right:60px;
}
.content .infobtn{
    color:maroon;
    background: #ecc609;
text-decoration:none;
font-weight: 900;
letter-spacing: 2px 15px;
padding:2px 20px;
border-radius: 10px;
transition: 0.2s;
}
.content .infobtn:hover{
background:grey;
transition: 0.1s;

}
