body {
    font-family: Arial, sans-serif;
    background-color: #a1d1c8;
  }
  
  .converter {
    max-width: 500px;
    margin: 80px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 90px;
   
  }
  
  h2 {
    text-align: center;
    color:#09db64;
   
  }
  
  label {
    display: block;
    margin-bottom: 20px;
    
  }
  h4{
    color:rgb(149, 11, 149);
  }
  
  input[type="number"],
   select {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border:3px double rgb(10, 140, 215);
    border-radius: 50px;
    color:rgb(3, 3, 3);
    background-color: #f3c597;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #e90808;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #09db64;
  }
  
  p#result {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color:rgb(23, 3, 112);
  }
 