
.rectangle{
    
    
      width:700px;
    height:300px;
    text-align: center;
    line-height: 20px;
h1{
  color:orangered;
}
p{
  color:#e30a0a;
  size: 200px;
}
button{
  background-color: blue;
  color: white; 
  
  padding: 10px 20px;
  text-align: center;
 border:3px double #e30a0a;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  
}
    
    align-items:right;
    border-radius:30px;  
    position: relative;
  right:-500px;
  border: 6px double #09a4e1;
  border-bottom:0.3px;
  border-top:0.3px;
}
.content{
  text-align: center;
  color:rgb(3, 217, 224);
  font-size: 100px;
  letter-spacing: 2px;
  background-size: 10px;
  font-style:italic;
}

.circle{
  align-items:left;
  height:300px;
  width:300px;
  border-radius: 50%;
  background-image:url('kkk.png');
  background-size:500px;
  background-position: center;
  position: relative;
  right:-200px;
  border: 4px double #eaf605;
 
}
.rectangle2{
 
  width:400px;
  height:300px;
  h2{
    text-align: center;
    color:rgb(123, 4, 45);
  }
  h3{
    text-align: left;
    color:#7d1505
  }
  p{
    color:#e30a0a;
  }
  p1{
    color:#e30a0a;
  }
  text-align: center;
  button{
   
    background-color: blue;
    color: white; 
    border-color:black;
    padding: 10px 20px;
    text-align: center;
   border:3px double #e30a0a;
    font-size: 16px;
    cursor:pointer;
    border-radius: 20px;
}
  line-height: 20px;
  
  align-items:left;
  border-radius:30px;  
  position: relative;
right:-10px;
margin-top:40px;
border: 6px double #05b356;
border-bottom:0.3px;
border-top:0.3px;
top: 35px;
}
.rectangle3{
 align-items:right;
 position: relative;
  right:-750px;
 width:600px;
 height:300px;
 border-radius: 50px;
 border:6px double black;
 border-bottom:0.3px;
 border-top:0.3px;
  top: -300px;
  h2{
    text-align: center;
    color: rgb(25, 81, 62);
    font-size:40px;
  }
  h3{
    text-align: center;
    line-height: 35px;
  }
}

.icons{
  align-items: center;
position: relative;
top:-200px;
right:-500px;
font-size: 35px;
word-spacing: 20px;
color:black;

}
